In [75]:
import pandas as pd

In [76]:
df = pd.read_excel('nextplay.xlsx', sheet_name = 'vendas')
pd.set_option('display.width', 1000)
print(df.head())

   venda_id  cliente_id data_venda  valor_total
0         1           8 2025-01-01      3800.00
1         2          10 2025-01-03      3500.00
2         3          24 2025-01-03       199.98
3         4          32 2025-01-04       199.98
4         5          57 2025-01-05       202.50

In [77]:
df = df.set_index('venda_id')

In [78]:
df['valor_total'].dtype

dtype('float64')

## Lucro total

In [79]:
lucro_total = df['valor_total'].sum()
print(f'O lucro bruto da empresa foi de R$ {lucro_total}')

O lucro bruto da empresa foi de R$ 208822.99

## Quantidade de vendas realizadas

In [80]:
total_vendas = len(df)
print(f'A empresa fez um total de {total_vendas}')

A empresa fez um total de 99

## Ticket médio

In [81]:
ticket_medio = lucro_total / total_vendas
print(f'O valor do ticket médio é R$ {ticket_medio.round(2)}')

O valor do ticket médio é R$ 2109.32

In [82]:
df_itens = pd.read_excel('nextplay.xlsx', sheet_name='itens_vendas')
df_itens

     item_id  venda_id  produto_id  quantidade  preco_unitario
0          1         1           2           1         3800.00
1          2         2           3           1         3500.00
2          3         3          23           2           99.99
3          4         4          24           2           99.99
4          5         5          14           1          202.50
..       ...       ...         ...         ...             ...
247      248        95          41           1           81.00
248      249        96          39           1           94.50
249      250        97          39           1           94.50
250      251        98          39           1           94.50
251      252        99          39           1           94.50

[252 rows x 5 columns]

In [83]:
df_produtos = pd.read_excel('nextplay.xlsx', sheet_name='produtos')
df_produtos.head()

   produto_id                     nome                                descricao   preco  qtd_estoque  categoria_id
0           1                 Notebook               Notebook de última geração  3500.0            0             1
1           2            Notebook Asus                          Asus Machine v2  3800.0            0             1
2           3  Notebook Acer Nitro V15  Notebook gamer i5 + 8 gb ram + RTX 3050  4320.0            0             1
3           4          PS5 Versão slim                 Sony ps5 videogame 120hz  3510.0            0             2
4           5            XBOX Series X                     Microsoft videogame   4320.0            0             2

In [84]:
## Unindo as tabela
vendas = pd.merge(df, df_itens, on='venda_id', how='left')
print(vendas)

     venda_id  cliente_id data_venda  valor_total  item_id  produto_id  quantidade  preco_unitario
0           1           8 2025-01-01      3800.00        1           2           1         3800.00
1           2          10 2025-01-03      3500.00        2           3           1         3500.00
2           3          24 2025-01-03       199.98        3          23           2           99.99
3           4          32 2025-01-04       199.98        4          24           2           99.99
4           5          57 2025-01-05       202.50        5          14           1          202.50
..        ...         ...        ...          ...      ...         ...         ...             ...
247        95          51 2025-03-25       175.50      248          41           1           81.00
248        96           1 2025-03-26        94.50      249          39           1           94.50
249        97          18 2025-03-27        94.50      250          39           1           94.50
250        98          83 2025-03-28        94.50      251          39           1           94.50
251        99          26 2025-03-29        94.50      252          39           1           94.50

[252 rows x 8 columns]

In [85]:
relatorio_de_vendas = pd.merge(vendas, df_produtos, on='produto_id', how='left')
print(relatorio_de_vendas.head())

   venda_id  cliente_id data_venda  valor_total  item_id  produto_id  quantidade  preco_unitario                     nome                                descricao    preco  qtd_estoque  categoria_id
0         1           8 2025-01-01      3800.00        1           2           1         3800.00            Notebook Asus                          Asus Machine v2  3800.00          0.0           1.0
1         2          10 2025-01-03      3500.00        2           3           1         3500.00  Notebook Acer Nitro V15  Notebook gamer i5 + 8 gb ram + RTX 3050  4320.00          0.0           1.0
2         3          24 2025-01-03       199.98        3          23           2           99.99     Gift card PSN R$ 100          Gift card playstation 100 reais    99.99          0.0          11.0
3         4          32 2025-01-04       199.98        4          24           2           99.99    Gift card XBOX R$ 100                 Gift card Xbox 100 reais    99.99          0.0          11.0
4         5          57 2025-01-05       202.50        5          14           1          202.50   Mouse red dragon cobra            Mouse preto red dragon cobra    202.50          0.0          13.0

In [86]:
relatorio_de_vendas = relatorio_de_vendas.drop(columns=['qtd_estoque'])
relatorio_de_vendas

     venda_id  cliente_id data_venda  valor_total  item_id  produto_id  quantidade  preco_unitario                         nome                                descricao    preco  categoria_id
0           1           8 2025-01-01      3800.00        1           2           1         3800.00                Notebook Asus                          Asus Machine v2  3800.00           1.0
1           2          10 2025-01-03      3500.00        2           3           1         3500.00      Notebook Acer Nitro V15  Notebook gamer i5 + 8 gb ram + RTX 3050  4320.00           1.0
2           3          24 2025-01-03       199.98        3          23           2           99.99         Gift card PSN R$ 100          Gift card playstation 100 reais    99.99          11.0
3           4          32 2025-01-04       199.98        4          24           2           99.99        Gift card XBOX R$ 100                 Gift card Xbox 100 reais    99.99          11.0
4           5          57 2025-01-05       202.50        5          14           1          202.50       Mouse red dragon cobra            Mouse preto red dragon cobra    202.50          13.0
..        ...         ...        ...          ...      ...         ...         ...             ...                          ...                                      ...      ...           ...
247        95          51 2025-03-25       175.50      248          41           1           81.00      Mouse pad Pro G com LED                 Mouse pad grande com led    81.00           7.0
248        96           1 2025-03-26        94.50      249          39           1           94.50  Prisma suporte para headset                     Acessório de Suporte    94.50           7.0
249        97          18 2025-03-27        94.50      250          39           1           94.50  Prisma suporte para headset                     Acessório de Suporte    94.50           7.0
250        98          83 2025-03-28        94.50      251          39           1           94.50  Prisma suporte para headset                     Acessório de Suporte    94.50           7.0
251        99          26 2025-03-29        94.50      252          39           1           94.50  Prisma suporte para headset                     Acessório de Suporte    94.50           7.0

[252 rows x 12 columns]

In [87]:
relatorio_de_vendas['categoria_id'] = relatorio_de_vendas['categoria_id'].fillna(0).astype(int)

In [88]:
relatorio_de_vendas = relatorio_de_vendas.set_index('venda_id')

In [ ]:
df_categorias = pd.read_excel('nextplay.csv', sheet_name='categorias')

TypeError: merge() missing 1 required positional argument: 'right'